@{
    ViewData["Title"] = "Home Page";
}


        <!-- Page Header-->
         <header class="masthead" style="background-image: url('@Url.Content("~/assets/img/Tanger1.jpg")')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                        <h1>Welcome to TangerEcoWatch!</h1>
                        <span class="subheading">Here for You and Our Planet</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                        <h2 class="post-title">
                            Exploring Tangier's Cultural Tapestry

                        </h2>
                        <h3 class="post-subtitle">"Man must explore, and this is exploration at its greatest."</h3>
                        <h4 class="post-subtitle">Discover the vibrant tapestry of culture and history that defines Tangier. From its ancient medina to its bustling port, every corner holds a story waiting to be explored. Immerse yourself in the rich heritage of this coastal gem.</h4>
                        </a>
                        <p class="post-meta">
                            Posted by
                        <a href="#!">TangerEcoWatch</a>
                            on September 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                    <a href="post.html"><h2 class="post-title">Tangier's Environmental Efforts</h2>
                        <h3 class="post-subtitle">"Problems look mighty small from 150 miles up."</h3>
                        <h4 class="post-subtitle">Tangier continues to make strides in environmental sustainability. From innovative waste management initiatives to green energy projects, the city is reducing its ecological footprint one step at a time. Together, we're reaching new heights in environmental stewardship..</h4>
                    </a>

                        <p class="post-meta">
                            Posted by
                        <a href="#!">TangerEcoWatch</a>
                            on September 18, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
       
      
   